[submodule "vendor/VulkanMemoryAllocator"]
	path = vendor/VulkanMemoryAllocator
	url = ../VulkanMemoryAllocator.git
[submodule "examples/1_basic/vendor/glm"]
	path = examples/1_basic/vendor/glm
	url = ../glm.git
[submodule "examples/2_rt/vendor/glm"]
	path = examples/2_rt/vendor/glm
	url = ../glm.git
[submodule "examples/1_basic/vendor/imgui"]
	path = examples/1_basic/vendor/imgui
	url = ../imgui.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = ../glfw.git
